.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quizz_logo > h3 {
  margin-top: 20px;
}

.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9ff00;
  border-radius: 8px;
  background-color: #adcc00;
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: "Segoe UI";
  margin-bottom: 20px;
}

.quizz_questions > h3 {
  color: #000000;
}

.quizz_options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  gap: 1rem;
}

.btn-option {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #dfff86;
  width: 20%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.btn-option:hover {
  background-color: #edff9d;
  color: #000000;
}

.btn-option:active {
  position: relative;
  top: 1px;
}
